{% extends 'base.html' %}
{% block title %} Login {% endblock %}

{% block login %}
    <!-- Single Products -->
    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="{{ component.photo.url }}" width="100%" id="ProductImg">
            </div>
            <div class="col-2">
                <p>Home / T-Shirt</p>
                <h1>{{ component.name }}</h1>
                <h4>Rs. {{ component.price }}</h4>
                <a href="{% url 'add_to_cart' component.id %}" class="btn" method="post">Add To Cart</a>
                <h3>Product Details <i class="fa fa-indent"></i></h3>
                <br>
                <p>{{component.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}
 